#tituloprincipal{
    color: red;
    font-size: 15px;
    font-family: cursive;
}
.parrafos{
    color: greenyellow;
    font-weight: 100;
}
p{
    color: blueviolet
}
a:hover{
    color:white;
    background-color: black;
}

